* {
    padding: 0;
    /*font-family: 'Trebuchet MS', sans-serif;*/
    /*outline: 1px solid red;*/
}

body {
    background-color: white;
    margin: 0px;
    height: 100%;
}

#header {
    text-align: center;
    color: rgb(44, 44, 44);
    display: block;
    margin: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 10px;
}

.search-button {
    font-weight: bold;
    background: rgb(46, 127, 219);
    color: white;
    border: 0;
    font-size: 14px;
    padding: 0.5em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5%;
}
.search-button:hover {
    color: black;
    background: rgb(22, 100, 255);
    transition-duration: 0.35s;
}
.search-button:active {
    transform: translateY(3px);
}

#search-button {
    font-weight: bold;
    background: rgb(46, 127, 219);
    color: white;
    border: 0;
    font-size: 14px;
    padding: 0.5em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5%;
}

.search-input{
    font-size: 15px;
    padding: 5px;
}

.shopping-cart{
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    background-color: #3b4553;
    padding: 10px;
}
  
.grid-container > div {
    text-align: center;
}

.item1 {
    padding-top: 12px;
    grid-row: 1 / span 3;
    color: white;
}
.item1:hover{
    color: rgb(30, 159, 210);
}


@media screen and (max-width: 800px) {
    .item1 {
        font-size: 70%;
    }
}

.item2 {
    padding-top: 10px;
}

@media screen and (max-width: 720px) {
    .item2 {
        display: none !important;
    }
}

.item3 {
    padding-top: 25px;
    color: white;
    margin-right: 10px
}

.item4 {
    padding-top: 15px;
    color: white;
    margin-right: 10px
}

.nav-item{
    padding-right: 1em;
}

#navigation_bar {
    background-color: rgb(40, 39, 94);
    color: rgb(190, 189, 194);
    width: 100%;
    margin: 0;
    padding-top: 0.8em;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    /*min-width: 1000px;*/
    margin-bottom: 10px;
}

#navigation_bar ul a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.7s;
    padding-bottom: 1.2em;
}

nav {
    margin: 0;
    padding: 0;
}

#navigation_bar ul {
    list-style: none;
}

#navigation_bar a {
    color: white;
    text-decoration: none;
    padding: 1em 3.5em;
    text-transform: uppercase;
}

#navigation_bar ul.current a {
    background: white;
    color: black;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.account-form{
    padding-top: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.contact-form{
    display: grid;
    /*grid-auto-flow: column;*/
    align-items: center;
    justify-items: center;
    /*background-color: rgb(240, 240, 240);
    margin-left: 10em;
    margin-right: 10em;*/
}

#map{
    height: 300px;
    width: 500px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}
.map{
    height: 300px;
    width: 500px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.footer {
    margin-top: 50px;
}

.footer-grid {
    background-color: rgb(183, 190, 240);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.footer-grid > div {
    text-align: left;
    vertical-align: top;
}

.instrument{
    margin-top: 20px;
    text-align: center;
    min-width: 290px;
    min-height: 260px;
}

.product-image{
    text-align: center;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: auto;
    height: auto;
    padding: 1em;
}

.product-image2{
    max-width: 290px;
    max-height: 290px;
    min-width: 100px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: auto;
    height: auto;
}

.product-description{
    text-align: center;
    margin: 3px;
    margin-bottom: 5px;
}

.basket-button {
    font-weight: bold;
    background: rgb(108, 139, 173);
    color: white;
    border: 0;
    font-size: 14px;
    padding: 0.25em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5%;
}
.basket-button:hover {
    color: black;
    transition-duration: 0.35s;
}
.basket-button:active {
    transform: translateY(-3px);
}

#product-grid{
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

#product-row{
    background-color: white;
    display: row;

    margin-left: 50%;
    margin-right: 50%;
}

#product-grid-2{
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}

#product-grid-3{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
}

.catalog-title{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.basket-title{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.to-top{
    padding-top: 2em;
    color: black;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.Availability{
    color: green;
}

.dropzone{
    background-color: rgb(190, 206, 229);
    padding: 1em;
}

.form-group{
    display: grid;
    align-items: center;
    justify-items: center;
}

